<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <!--estilos-->
    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--js-->
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--estilos propios-->
    <style>
        body {
            background-image: url("imagenes/fondo2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0px;
            font-family: 'Poppins';
        }
        
        img {
            width: 300px;
            margin-top: 50px;
        }
        
        .container {
            margin-top: 50px;
        }
        
        .info {
            padding: 3em;
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            color: white;
            border: solid 2px transparent;
            border-radius: 1em;
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
            width: 50%;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper  purple darken-4">
            <a href="#" class="brand-logo center">Don Gato y su Pandilla</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="sass.html"></a>
                </li>
                <li>
                    <a href="badges.html"></a>
                </li>
                <li>
                    <a href="collapsible.html"></a>
                </li>
            </ul>
        </div>
    </nav>
    <!---->
    <div class="container">
        <div class="row">
            <div class="col s1">
                <% for (let indice in cats) { %>
                    <a href="<%= cats[indice].codigo %>"><img src="imagenes/<%=cats[indice].foto %>" class="circle" alt="<%= cats[indice].name %>"></a>
                    <% } %>
            </div>
        </div>
    </div>






</body>

</html>